<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Chatbot UI</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
	<link rel="stylesheet" href="/static/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
	<script src="https://unpkg.com/notyf/notyf.min.js"></script>
	<script src="/static/script.js" defer></script></head>
<body>
	<div id="chatbox"></div>
	<div id="inputArea">
		<div class="input-wrapper"> <!-- Flex container -->
			<input type="text" id="userInput" placeholder="Type a message...">
			<button id="sendButton">Send</button>		</div>
	</div>
</body>
</html>
